﻿@model List<KeyVaultAccess.Context.Domain.Customer>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Data is coming from Postgres SQL</p>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a class="btn btn-primary" asp-controller="home" asp-action="AddNewCustomer">Add Customer</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>First Name</td>
                            <td>Middle Name</td>
                            <td>Last Name</td>
                        </tr>
                    </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                 <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FirstName</td>
                                    <td>@item.MiddleName</td>
                                    <td>@item.LastName</td>
                                 </tr>
                                }
                            </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
